@charset "UTF-8";
body {
  background-color: #f0ede5;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  position: relative;
  margin: 0;
}

.display__none {
  display: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.border {
  border-bottom: 5px solid #000055;
  background-color: #f0ede5;
  height: 25px;
}

.header__top {
  border-top: 1px solid #c00;
}

.header__topList {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__topList__menu {
  display: none;
}

.header__topListContainer {
  background-color: white;
  height: 110px;
}

.header__topList a {
  font-size: 13px;
  color: #434343;
}

.search {
  position: relative;
}

.search__box {
  height: 38px;
  width: 245px;
  padding: 0 28px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search__img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 17px;
  height: 17px;
}

.list__item1-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 20px 0;
}

.list__item1-top li {
  border-left: 1px solid #e1e1e1;
  padding-left: 12px;
  margin-left: 12px;
  height: 12.8px;
  vertical-align: middle;
}

.list__item1-top li:first-child {
  border: none;
  margin: 0;
  padding: 0;
}

.list__item1-top li a {
  display: block;
}

.list__item2 img {
  position: absolute;
  top: 19px;
  left: 50%;
  margin: 0 0 0 -159px;
}

.list__item3 {
  width: 240px;
}

.list__item3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.list__item3 ul li {
  border-left: 1px solid #e1e1e1;
  padding-left: 12px;
  margin-left: 12px;
  height: 12.8px;
  vertical-align: baseline;
  line-height: 1;
}

.list__item3 ul li:first-child {
  border: none;
  padding: 0;
  margin: 0;
}

.list__item3 ul li a {
  word-wrap: none;
  white-space: nowrap;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  float: left;
}

.fontSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fontSize__text {
  font-size: 11px;
  text-align: left;
  color: #777;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  padding-right: 5px;
}

.fontSize__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #bbb;
  width: 42px;
  height: 42px;
  font-size: 13px;
  line-height: 1;
}

.fontSize__btn:hover {
  cursor: pointer;
}

.fontSize__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

.background__text {
  font-size: 11px;
  text-align: left;
  color: #777;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-right: 5px;
  white-space: nowrap;
}

.background__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #bbb;
  width: 42px;
  height: 42px;
  font-size: 13px;
  line-height: 1;
}

.background__btn:hover {
  cursor: pointer;
}

.top__info {
  background-color: #005;
  z-index: 1;
}

.top__info1, .top__info2, .top__info3 {
  display: none;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 980px;
  height: 258px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 0;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.36);
          box-shadow: 0 7px 21px rgba(0, 0, 0, 0.36);
}

.top__info__list {
  padding: 5px 20px;
  margin: 0;
}

.top__info__list__bottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f1f3ff;
  margin-top: 10px;
}

.top__info__list__bottom img {
  width: 14px;
  height: 14px;
}

.top__info__bottomText {
  margin: 0;
}

.top__info__headLine {
  font-size: 21px;
  font-weight: normal;
  position: relative;
  padding: 4px 0 20px 48px;
  margin: 0;
}

.top__info__text {
  padding-left: 25px;
  position: relative;
  margin-bottom: 5px;
}

.top__info__text::before {
  width: 18px;
  height: 17px;
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  content: "";
  top: 3px;
  left: 0;
  position: absolute;
  background-position: 0 -34px;
}

.top__info1 .top__info__headLine-1::before {
  background-position: 0 -307px;
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.top__info1 .top__info__headLine-2::before {
  background-position: 0 -231px;
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.top__info1 .top__info__headLine-3::before {
  background-position: 0 -763px;
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.top__info2 .top__info__headLine-1::before {
  background-position: 0 -438px;
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.top__info2 .top__info__headLine-2::before {
  background-position: 0 -476px;
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.top__info2 .top__info__headLine-3::before {
  background-position: 0 -231px;
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.top__info3 .top__info__headLine-1::before {
  background-position: 0 -345px;
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.top__info3 .top__info__headLine-2::before {
  background-position: 0 -613px;
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.top__info3 .top__info__headLine-3::before {
  background-position: 0 -231px;
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(325px * 3);
  margin: 0 auto;
  position: relative;
}

.headline__text {
  color: white;
  font-weight: normal;
  text-align: center !important;
  margin: 0;
  padding: 0 16px;
  font-size: 19px;
  width: 325px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headline__item {
  width: 325px;
  padding: 12px 0;
  background-color: #000055;
}

.headline__item:hover {
  background-color: #c00;
  cursor: pointer;
}

.headline__item-2 h1 {
  border-right: 1px solid #6e6c95;
  border-left: 1px solid #6e6c95;
}

.slideshow {
  margin: 0;
  z-index: 1;
}

.slideshow img {
  width: 100%;
}

.slideshow__container {
  position: relative;
}

.slideshow__container .next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  margin-top: -22.5px;
}

.slideshow__container .next:hover {
  cursor: pointer;
}

.slideshow__container .prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  margin-top: -22.5px;
}

.slideshow__container .prev:hover {
  cursor: pointer;
}

.notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #e8e8e8;
  width: 980px;
}

.notice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notice__headLine {
  position: relative;
  background-color: #e17d7d;
  color: white;
  font-size: 14px;
  width: 166px !important;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 8px 0 8px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notice__headLine::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  background-position: 0 -130px;
  top: 4px;
  left: 12px;
  width: 29px;
  height: 29px;
}

.notice__headLine__container {
  width: 166px;
}

.notice__date {
  margin: 0;
  padding: 8px 20px;
  font-size: 14px;
}

.notice__link {
  font-size: 15px;
  padding: 8px 0;
  background-color: #e8e8e8;
  display: block;
}

.header__bottom__list-1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 245px 245px 245px 245px;
      grid-template-columns: 245px 245px 245px 245px;
  width: calc(245px * 4);
}

.header__bottom__list-1 li {
  text-align: center;
  border: 1px solid #eaeaea;
  padding: 20px 0 15px 0;
}

.header__bottom__list-1 li p {
  font-size: 21px;
  margin: 0 0 5px 0;
}

.header__bottom__list-1-wrapper {
  background-color: #fff;
}

.header__bottom__list-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 326px 326px 326px;
      grid-template-columns: 326px 326px 326px;
  width: calc(326px * 3);
  margin: 0 auto;
  background-color: #f7f8f8;
  height: 72px;
}

.header__bottom__list-2-wrapper {
  background-color: #f7f8f8;
}

.header__bottom__list-2 a {
  margin: 0;
  display: inline-block;
  font-size: 20px;
  line-height: 1.6;
  text-decoration: none;
  color: black;
}

.header__bottom__list-2-1 {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 20px 0;
}

.header__bottom__list-2-1::before {
  position: absolute;
  content: "";
  background-image: url(../images/53.png);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 0 -565px;
  top: 50%;
  left: 20px;
  margin-top: -24px;
}

.header__bottom__list-2-1:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.header__bottom__list-2-2 {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 20px 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header__bottom__list-2-2::before {
  position: absolute;
  content: "";
  background-image: url(../images/53.png);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 0 -801px;
  top: 50%;
  left: 20px;
  margin-top: -24px;
}

.header__bottom__list-2-2:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.header__bottom__list-2-3 {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 20px 0;
}

.header__bottom__list-2-3::before {
  position: absolute;
  content: "";
  background-image: url(../images/53.png);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 0 -715px;
  top: 50%;
  left: 20px;
  margin-top: -24px;
}

.header__bottom__list-2-3:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.info {
  padding-top: 56px;
}

.info__tab {
  font-weight: normal;
  padding: 15px 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  width: 325px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.info__tab:hover {
  cursor: pointer;
}

.info__tab__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: calc(325px * 3);
}

.info__tab__selected {
  background-color: white;
  border-top: 3px solid #005;
}

.info__list {
  gap: 25px;
  margin: 0 auto;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 960px;
  padding-bottom: 30px;
}

.info__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  vertical-align: text-top;
}

.info__list-item__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__list-item-link {
  vertical-align: text-bottom;
}

.info__list-item .date {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
}

.info__list-item .announce {
  background-color: #E17D7D;
  color: white;
  width: 62px;
  height: 18px;
  padding: 4px 0;
  white-space: nowrap;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 11px;
  margin: 0 20px 0 10px;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
}

.info__list-item .important {
  background-color: #E64949;
  color: white;
  width: 62px;
  height: 18px;
  padding: 4px 0;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  margin: 0 20px 0 10px;
  text-align: center;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 11px;
}

.info__list-item .event {
  background-color: #6783d2;
  color: white;
  width: 62px;
  height: 18px;
  padding: 4px 0;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  margin: 0 20px 0 10px;
  text-align: center;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 11px;
}

.info__list-text {
  float: right;
  margin-top: 10px;
  padding-left: 25px;
  position: relative;
}

.info__list-text::before {
  content: "";
  position: absolute;
  background-image: url(../images/53.png);
  top: 3px;
  left: 0;
  background-repeat: no-repeat;
  height: 17px;
  width: 18px;
  background-position: 0 -34px;
}

.info__list1, .info__list2, .info__list3 {
  background-color: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__list3 .date {
  padding-right: 20px;
}

.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selected a {
  position: relative;
  right: 0;
}

.article {
  padding: 5px;
}

.article__container {
  margin-top: 42px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.article p {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 48px;
  text-align: center;
  padding: 15px 0;
  background-color: white;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
}

.article .mainImage {
  border-top: 3px solid #005;
  vertical-align: top;
  width: 100%;
}

.time__info {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
}

.time__info-1 {
  position: relative;
}

.time__info-1::before {
  content: "";
  background-image: url(../images/54.png);
  height: 37px;
  width: 41px;
  background-repeat: no-repeat;
  top: 8px;
  left: 0;
  position: absolute;
}

.time__info-2 {
  position: relative;
}

.time__info-2::before {
  content: "";
  background-image: url(../images/53.png);
  width: 38px;
  height: 38px;
  background-position: 0 -269px;
  position: absolute;
  left: 0;
  top: 7px;
}

.time__info-3 {
  position: relative;
}

.time__info-3::before {
  content: "";
  background-image: url(../images/53.png);
  width: 38px;
  height: 38px;
  background-position: 0 -269px;
  position: absolute;
  left: 0;
  top: 7px;
}

.time__info-4 {
  position: relative;
}

.time__info-4::before {
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  background-position: 0 -193px;
  left: 0;
  position: absolute;
  top: 7px;
}

.time__infoWrap {
  width: 480px;
  padding: 5px 20px 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #f7f8f8;
  height: 100%;
}

.time__infoWrap :first-child {
  border: none;
}

.time__infoWrap ul {
  margin-top: 0;
}

.time__info h1, .time__info p {
  font-size: 15px;
  margin: 0;
  line-height: 1.6;
}

.time__info h1 {
  padding-left: 50px;
  height: 24px;
  width: 170px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.time__btn {
  width: 50%;
  height: 52px;
  background-color: #031763;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 52px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.time__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.time__btn-1::before {
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  background-position: 0 -51px;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -8.5px;
  left: 20px;
}

.time__btn-2::before {
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  background-position: 0 -51px;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -8.5px;
  left: 244px;
}

.time__btnContainer {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 10px;
}

.container {
  background-color: white;
}

.container .info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 540px;
  width: 980px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  gap: 20px;
  padding: 50px 0;
  margin: 0 auto;
}

.area__btn1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 60px;
  top: 85px;
  background-color: #434549;
  border-radius: 50%;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.area__btn1 p {
  position: absolute;
  top: 40px;
  width: 100%;
  margin: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  line-height: 1.2;
  font-weight: bold;
  vertical-align: baseline;
}

.area__btn1:hover {
  cursor: pointer;
  background-color: #5b5e64;
}

.area__btn1::before {
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  top: 13px;
  left: 40px;
  background-position: 0 -51px;
  position: absolute;
  content: "";
  width: 18px;
  height: 17px;
}

.area__btn2 {
  width: 185px;
  height: 50px;
  background-color: #ff9f1a;
  text-align: center;
}

.area__btn2:hover {
  cursor: pointer;
  background-color: #ffb44d;
}

.area__btn2::before {
  content: "";
  background-image: url(../images/53.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  background-position: 0 -51px;
  margin-top: 17px;
  left: 20px;
  position: absolute;
}

.area__btn2 p {
  color: white;
  font-weight: bold;
}

.area__btn2Container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  top: 75px;
  left: 215px;
}

.area__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.area__info {
  position: relative;
}

.footer {
  background-color: white;
  padding-bottom: 10px;
  margin: 20px 0;
}

.footer__slideShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  width: 100%;
  background-color: #f7f8f8;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__list {
  width: calc(197px * 4 + 14px * 5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  gap: 14px;
}

.footer .arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6.5px 0;
  height: 58px;
}

.footer .arrow .next__arrow {
  width: 45px;
  height: 45px;
}

.footer .arrow .prev__arrow {
  width: 45px;
  height: 45px;
}

.footer li {
  margin-right: 14px;
}

.footer__bottom {
  background-color: #005;
  height: 57px;
}

.footer__bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 980px;
}

.footer__bottom__right, .footer__bottom__left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
  height: 100%;
}

.footer__bottom__right p, .footer__bottom__left p {
  white-space: nowrap;
  margin: 0;
  font-size: 11px;
  color: white;
}

.footer__bottom__right-link, .footer__bottom__left-link {
  font-size: 12px;
  color: white;
  padding-left: 12px;
  margin-left: 12px;
  border-left: 1px solid white;
  vertical-align: top;
}

.footer__bottom__right-link:first-child, .footer__bottom__left-link:first-child {
  border: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1000px) {
  .header__topList {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header__topList a {
    font-size: 11px;
  }
  .header__topListContainer {
    width: 100%;
  }
  .header__bottom__list-1 {
    width: 100%;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .header__bottom__list-2 {
    width: 100%;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .header__bottom__list-2 a {
    padding: 20px 0 20px 65px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
  }
  .header__bottom__list-2-1, .header__bottom__list-2-2, .header__bottom__list-2-3 {
    padding: 0;
  }
  .header__bottom__list-2-1::before, .header__bottom__list-2-2::before, .header__bottom__list-2-3::before {
    left: 10px;
  }
  .list__item1-top li {
    margin-left: 6px;
    padding-left: 6px;
  }
  .list__item2 {
    width: 200px;
  }
  .list__item2 img {
    margin: 0 0 0 -100px;
    width: 200px;
  }
  .list__item3 ul {
    float: right;
  }
  .list__item3 ul li {
    margin-left: 6px;
    padding-left: 6px;
  }
  .list__item3 ul li a {
    font-size: 11px;
  }
  .top__info1, .top__info2, .top__info3 {
    width: 100%;
  }
  .notice {
    width: 100%;
  }
  .notice__headLine {
    width: 166px !important;
    height: 100%;
  }
  .notice__item {
    width: calc(100% - 166px);
  }
  .headline {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .headline__text {
    width: 100%;
  }
  .headline__item {
    width: 100%;
  }
  .info__tab {
    width: 100%;
  }
  .info__tab__container {
    width: 100%;
  }
  .info__list {
    width: 100%;
  }
  .info__list-text {
    right: 30px !important;
  }
  .info__wrap {
    display: block !important;
    height: 100% !important;
    width: 100% !important;
  }
  .info__wrap .time__infoWrap {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .info__wrap .area__info {
    margin: 0 auto;
    width: 480px;
  }
  .footer__slideShow {
    position: relative;
  }
  .footer__slideShow .prev__arrow {
    position: absolute;
    left: 10px;
  }
  .footer__slideShow .next__arrow {
    position: absolute;
    right: 10px;
  }
  .footer__list {
    width: calc(197px * 3 + 14px * 4);
  }
  .footer__bottom__content {
    width: 100%;
  }
  .footer__bottom__left {
    padding: 20px 10px;
  }
  .footer__bottom__right {
    padding: 20px 0 20px 5px;
  }
}

@media (max-width: 720px) {
  body {
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header__topList {
    position: relative;
  }
  .header__topList__menu {
    display: block;
  }
  .header__topList__menu:hover {
    cursor: pointer;
  }
  .header__topList__menu img {
    display: block;
    position: absolute;
    right: 10px;
    top: 18px;
    width: 30px;
    height: 22px;
  }
  .header__topList__menu .humberger {
    display: none;
    width: 100%;
    z-index: 3;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header__topList__menu .humberger__list {
    margin: 0;
    background-color: white;
    padding: 10px;
  }
  .header__topList__menu .humberger__list__content {
    height: 45px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header__topList__menu .humberger__list__content a {
    padding: 15px 0;
    font-size: 15px;
    line-height: 45px;
    height: 100%;
  }
  .header__topList__menu .humberger__headLine {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #333;
  }
  .header__topList__menu .humberger .cross {
    width: 22px;
  }
  .header__topList__menu .humberger__input {
    width: 100%;
    margin: 10px 0;
  }
  .header__topListContainer {
    height: 55px;
    position: relative;
  }
  .header__bottom__list-1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 12px;
    -webkit-column-gap: 22px;
            column-gap: 22px;
  }
  .header__bottom__list-1-wrapper {
    padding: 10px 10px 20px 10px;
  }
  .header__bottom__list-1 li {
    height: 130px;
    padding: 15px 0 5px 0;
  }
  .header__bottom__list-1 li p {
    font-size: 16px;
    line-height: 1;
  }
  .header__bottom__list-1 li img {
    height: 80px;
  }
  .header__bottom__list-2 {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: calc(72px * 3);
    padding: 0 10px;
  }
  .header__bottom__list-2-2 {
    border: none;
  }
  .header__bottom__list-2-1, .header__bottom__list-2-2, .header__bottom__list-2-3 {
    width: 100%;
    height: 72px;
    border: 1px solid #ccc;
  }
  .header__bottom__list-2-1::before, .header__bottom__list-2-2::before, .header__bottom__list-2-3::before {
    background-image: none;
  }
  .header__bottom__list-2-1 a, .header__bottom__list-2-2 a, .header__bottom__list-2-3 a {
    padding-left: 40px;
  }
  .header__bottom__list-2__wrapper {
    padding: 0 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .next, .prev {
    width: 26px;
    height: 26px;
  }
  .display__none {
    display: block;
  }
  .top__info .headline__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top__info .headline__item-2 {
    border-left: 1px solid #6e6c95;
    border-right: 1px solid #6e6c95;
  }
  .top__info .headline__text {
    text-align: left !important;
    border: none;
    line-height: 1.2;
    font-size: 11px;
    padding: 0;
  }
  .list__item1, .list__item3 {
    display: none;
  }
  .list__item2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: static;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
  }
  .list__item2 img {
    position: static;
    width: 159px;
    margin: 0;
  }
  .notice {
    width: 100%;
    display: block;
    padding-bottom: 15px;
  }
  .notice__headLine {
    width: 100% !important;
    padding: 0;
    font-size: 12px;
    padding: 8px 0;
    text-align: center;
  }
  .notice__headLine::before {
    background-image: none;
  }
  .notice__headLine__container {
    height: 100%;
    width: 100%;
  }
  .notice__item {
    display: block;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  .notice__date {
    padding: 5px 0;
    width: 100%;
  }
  .notice__link {
    padding: 0;
    width: 100%;
  }
  .info {
    padding: 20px 0 40px 0;
    background-color: white;
  }
  .info__list {
    padding: 0 10px;
  }
  .info__list :first-child {
    margin: 0;
  }
  .info__list1, .info__list2, .info__list3 {
    display: none;
    z-index: 2;
  }
  .info__list-item {
    display: block;
    z-index: 1;
  }
  .info__tab {
    font-size: 18px;
    width: calc(100% - 20px);
    margin: 0 10px;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .info__tab__selected {
    border: none;
  }
  .info__tab__container {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
  }
  .article__container {
    margin-top: 20px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 18px;
    padding: 0 13px 0 10px;
  }
  .article p {
    height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 10px;
    padding: 8px 5px 8px 18px;
    text-align: left;
  }
  .info__wrap {
    padding-top: 20px !important;
  }
  .time__info {
    width: 100%;
    padding: 0;
    padding-top: 15px;
    display: block;
  }
  .time__info h1 {
    padding-left: 25px;
    font-size: 14px;
    line-height: 22px;
  }
  .time__info p {
    font-size: 12px;
    line-height: 19px;
  }
  .time__infoWrap {
    width: 100%;
    padding: 0 10px;
    border: none;
    background-color: white;
    margin: 0 !important;
  }
  .time__infoWrap ul {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .time__info ul {
    border: none !important;
    padding: 0;
  }
  .time__info ul li {
    font-size: 12px;
    line-height: 19px;
  }
  .time__info-1::before {
    top: 16px;
    left: 0;
    width: 19px;
    height: 19px;
    background-size: 19px auto;
  }
  .time__info-2::before {
    top: 16px;
    left: 0;
    width: 19px;
    height: 19px;
    background-position: 0 -98px;
    background-size: 57px auto;
  }
  .time__info-3::before {
    top: 16px;
    left: 0;
    width: 19px;
    height: 19px;
    background-size: 57px auto;
    background-position: 0 -98px;
  }
  .time__info-4::before {
    top: 16px;
    left: 0;
    width: 19px;
    height: 19px;
    background-size: 57px auto;
    background-position: 0 -98px;
  }
  .time__btn {
    width: 100%;
    margin-bottom: 10px;
  }
  .time__btnContainer {
    display: block;
  }
  .time__btn-1::before {
    top: 27px;
  }
  .time__btn-2::before {
    top: 87px;
    left: 20px;
  }
  .area {
    display: none;
  }
  .area__info {
    width: 100% !important;
    margin: 0 !important;
  }
  .area__btn {
    width: 100%;
  }
  .area__btn1, .area__btn2Container {
    position: static;
    width: 100%;
    display: block;
  }
  .area__btnContainer {
    display: block;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .area__btn1 {
    width: 100%;
    height: 52px;
    border-radius: 0;
    position: static;
  }
  .area__btn1 br {
    display: none;
  }
  .area__btn1::before {
    top: 16px;
    left: 30px;
  }
  .area__btn__text {
    position: static !important;
    height: 52px;
    line-height: 52px !important;
    vertical-align: middle;
    font-weight: normal !important;
  }
  .area__btn2 {
    width: 100%;
  }
  .area__btn2::before {
    left: 30px;
  }
  .footer__list {
    width: calc(197px + 14px * 2);
  }
  .footer__bottom {
    height: 85px;
    padding: 20px 10px 15px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer__bottom__content {
    display: block;
    height: 100%;
  }
  .footer__bottom__left {
    padding: 0;
    height: auto;
  }
  .footer__bottom__left a {
    text-decoration: none;
  }
  .footer__bottom__right {
    padding: 0;
    float: right;
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */